<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/style.css">
  <title><%= title %></title>
</head>

<body>
  <div class="content-container">
    <div class="video-container">
      <video controls src="tsoi.mp4" id="player"></video>
    </div>
    <div id="load-panel" class="load-zone">
      <p>LOAD YOUR VIDEO THERE</p>
    </div>
  </div>
  <hr>
  <div class="drop-panel">
    <div class="drop-item" draggable="true" src="https://youtu.be/1JZV49PMW-4"><div><img src="img/file-icon.png"/></div></div>
  </div>
  <script src="js/panel-script.js"></script>
  <script src="js/load-script.js"></script>
</body>
</html>